@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.bgcolor{
    background-color: rgba(255, 144, 14, 0.1);
}
.greycolor{
    color: #727272; 
}
.lightblackcolor{
    color: #424242;
}
.blackcolor{
    color: #131313;
}
.orangecolor{
    color: #FF900E;
}

.btn{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px;
    border-radius: 5px;
    border: none;
    margin: 50px 0;

}


/* header style */

/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.brand{
    color: #131313;
    font-weight: bold;
    font-size: 2rem;
}
.pages ul{
    display: flex;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 1rem;
}
nav ul li{
    list-style: none;
    font-size: 1rem;
}

/* banner style */
.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-info{
    max-width: 850px;
    margin: 80px auto 0 auto;
    text-align: center;
}
.banner-title{
    color: #131313;
    font-weight: bold;
    font-size: 4rem;
}
.banner-description{
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
}
.banner-img-container{
    max-width: 1140px;
    margin: 0 auto;
}
.banner-image{
    width: 100%;
}

@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
    }
}

/* main style */

/* team style */
.team-container{
    display: flex;
    max-width: 1040px;
    margin: 100px auto;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.team-info{
    align-content: center;
    margin-left: 30px;
}
.team-title{
    font-size: 2rem;
}
.team-description{
    font-size: 1rem;
    color: #727272;
}

@media screen and (max-width: 576px) {
    .team-container{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width:576px) and (max-width:990px) {
    .team-container{
        flex-direction: column;
    }
}

/* feature style */
.features-container{
    display: flex;
    max-width: 1240px;
    align-items: center;
    margin: 100px auto;
    gap: 100px;
}
.feature-title-container{
    display: flex;
    align-items: center;
    gap: 30px;
}
.line{
    border-left: 5px solid #FF900E;
    height: 3rem;
}
.feature-title{
    font-size: 2rem;
    font-weight: bold;
    color: #131313;
}
.feature-info{
    gap: 100px;
}
.block{
    padding: 30px;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 5px;
}
.feature-img{
    width: 100vh;
    /* height: 100%; */
}
.btn2{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 30px;
    border-radius: 5px;
    border: none;
    margin: -100px 0px 0px -50px;
}
.btn2-1st-line{
    font-size: 3rem;
    font-weight: bold;
}
.btn2-2nd-line{
    font-size: 1rem;
    font-weight: 400;
}
@media screen and (max-width:576px) {
    .features-container{
        flex-direction: column-reverse;
    }
    .feature-img{
    width: 50vh;
    margin: 0 50px;
    }
    .btn2{
        margin: -100px 0px 0px 50px;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .features-container{
        flex-direction: column-reverse;
    }
    .feature-img{
    width: 50vh;
    margin: 0 50px;
    }
    .btn2{
        margin: -100px 0px 0px 0px;
    }
}

/* facts style */
.facts-container{
    max-width: 1240px;
    margin: 0 auto;
}
.facts-title{
    font-size: 2rem;
    color: #131313;
}
.facts-description{
    max-width: 620px;
    font-size: 1rem;
    color: #727272;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}
.card{
    text-align: center;
    padding: 20px;
    border: 1px solid #FF900E;
    width: 200px;
    height: 150px;
}
@media screen and (max-width:576px) {
    .facts-card-container{
        flex-direction: column;
        gap: 50px;
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .facts-card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 50px;
    }
}

/* sponsor style */
.sponsor-container{
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.sponsor-title{
    font-size: 2rem;
    color: #131313;
}
.sponsor-description{
    max-width: 600px;
    margin: 0 auto;
    color: #727272;
    margin-bottom: 60px;
}
.sponsor-img-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
}
.sponsor-img-container img{
    filter: grayscale(100%);
}

@media screen and (max-width:576px) {
    .sponsor-img-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 50px;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .sponsor-img-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 50px;
    }
}

/* footer style */
.footer{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    height: 80px;
    align-content: center;
    margin-bottom: 100px;
    font-size: 1rem;
}