@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.bgcolor{
    background-color: rgba(255, 144, 14, 0.1);
}
.greycolor{
    color: #727272;
}
.blackcolor{
    color: #131313;
}
.orangecolor{
    color: #FF900E;
}

.btn{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px;
    border-radius: 5px;
    border: none;
    margin: 50px 0;

}


/* header style */

/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.brand{
    color: #131313;
    font-weight: bold;
    font-size: 2rem;
}
.pages ul{
    display: flex;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-size: 1rem;
}
nav ul li{
    list-style: none;
    font-size: 1rem;
}

/* banner style */
.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-info{
    max-width: 850px;
    margin: 80px auto 0 auto;
    text-align: center;
}
.banner-title{
    color: #131313;
    font-weight: bold;
    font-size: 4rem;
}
.banner-description{
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
}
.banner-img-container{
    max-width: 1140px;
    margin: 0 auto;
}
.banner-image{
    width: 100%;
}

@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
    }
}

/* main style */

/* team style */
.team-container{
    display: flex;
    max-width: 1040px;
    margin: 100px auto;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.team-info{
    align-content: center;
    margin-left: 30px;
}
.team-title{
    font-size: 2rem;
}
.team-description{
    font-size: 1rem;
    color: #727272;
}

@media screen and (max-width: 576px) {
    .team-container{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width:576px) and (max-width:990px) {
    .team-container{
        flex-direction: column;
    }
}
